__pycache__/
Docs
venv
.env
terraform.exe
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform-provider-aws_v4.67.0_x5.exe

Data/BIS_CentralBankRates/RawData/*.csv
Data/chromedriver.exe
Data/IMF_Stats/RawData/*.csv
Data/WorldBankData_Stats/RawData/*.csv
Data/~$Data Sources Coverage_ACWI.xlsx
Data/IronIA_IndexFunds/Data/*.csv
Data/IronIA_IndexFunds/harazinlt.json
Data/~$Cataloged_Indicators.xlsx
Data/Investing_EconomicCalendar/investing_economic_calendar_2024-01-05.csv
Data/MSCI/msci_indexes.csv
cached_benchmark.csv
cached_df_countries.csv
cached_acwi_weights.csv
